<!-- detail-fonds.component.html -->
<ion-content class="ion-padding-0 bg-gray-100">
  <div class="flex flex-col h-full md:container md:mx-auto md:px-4">
    <!-- Header avec boutons de fermeture et favori -->
    <div class="flex justify-between items-center p-4 bg-gray-100 sticky top-0 z-10">
      <button class="text-gray-700 p-1 rounded-full hover:bg-gray-200 focus:outline-none">
        <ion-icon name="close-outline" class="text-2xl"></ion-icon>
      </button>
    </div>


    <!-- Contenu défilable -->
    <div class="flex-1 overflow-y-auto">
      <div class="px-4 pb-8">
        <!-- Solde utilisateur -->
        <div class="bg-white p-4 rounded mb-6">
          <p class="text-sm text-gray-600 mb-1">Mon solde</p>
          <p class="text-xl font-bold">FCFA</p>
        </div>

      </div>
    </div>
  </div>
</ion-content>