<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un utilisateur</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input [(ngModel)]="newUser.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="newUser.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Rôle</ion-label>
    <ion-select [(ngModel)]="newUser.role">
      <ion-select-option value="Admin">Admin</ion-select-option>
      <ion-select-option value="Utilisateur">Utilisateur</ion-select-option>
      <ion-select-option value="Modérateur">Modérateur</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="addUser()">Ajouter</ion-button>
</ion-content>
