<app-base-layout title="Bibliothèque" [showBackButton]="false">
  <!-- <ion-button header-end>
    <ion-icon name="settings-outline"></ion-icon>
  </ion-button> -->

  <div class="mt-2 ">
    <!-- Contenu principal de la page -->
    <!-- tafsirs.component.html -->
    <div class="w-full h-full bg-gray-100 bg-opacity-75 overflow-auto pb-16">
      <!-- Onglets de navigation -->
      <div class="flex rounded-md bg-white mx-4 mt-4 shadow-md overflow-hidden">
        <button class="flex-1 py-3 text-center font-bold transition-colors duration-200"
          [ngClass]="activeTab === 'tafsirs' ? 'text-green-600 bg-white' : 'text-gray-400 bg-gray-200'"
          (click)="setActiveTab('tafsirs')">
          Tafsirs
        </button>
        <button class="flex-1 py-3 text-center font-bold transition-colors duration-200"
          [ngClass]="activeTab === 'ouvrages' ? 'text-green-600 bg-white' : 'text-gray-400 bg-gray-200'"
          (click)="setActiveTab('ouvrages')">
          Ouvrages
        </button>
      </div>

      <!-- Liste des Tafsirs (visible quand l'onglet Tafsirs est actif) -->
      <div class="mt-6" *ngIf="activeTab === 'tafsirs'">
        <ng-container *ngFor="let tafsir of tafsirs">
          <div
            class="mx-4 mb-4 bg-white rounded-2xl shadow-md overflow-hidden transform transition-transform hover:translate-y-px">
            <div class="flex justify-between items-center p-4">
              <div>
                <h3 class="text-lg font-bold text-gray-800">{{ tafsir.title }}</h3>
                <p class="text-gray-500">{{ tafsir.author }} - {{ tafsir.ayahCount }} ayah</p>
              </div>
              <div class="text-2xl font-bold text-green-600">{{ tafsir.number }}</div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- Liste des Ouvrages (visible quand l'onglet Ouvrages est actif) -->
      <div class="mt-6" *ngIf="activeTab === 'ouvrages'">
        <ng-container *ngFor="let ouvrage of ouvrages">
          <div
            class="mx-4 mb-4 bg-white rounded-2xl shadow-md overflow-hidden transform transition-transform hover:translate-y-px">
            <div class="flex justify-between items-center p-4">
              <div>
                <h3 class="text-lg font-bold text-gray-800">{{ ouvrage.title }}</h3>
                <p class="text-gray-500">{{ ouvrage.author }} - {{ ouvrage.pageCount }} pages</p>
              </div>
              <div class="text-2xl font-bold text-green-600">{{ ouvrage.number }}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</app-base-layout>