.dashboard-content {
  ion-card {
    text-align: center;
    ion-card-title {
      font-size: 1.2em;
      margin-bottom: 8px;
    }

    ion-text {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  canvas {
    width: 100% !important;
    height: auto !important;
  }
}
