<!-- Contenu -->
<div class="p-6 space-y-6">
  <!-- Statistiques -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
    <div class="bg-white p-4 rounded shadow text-center">
      <i class="fas fa-users text-blue-500 text-3xl mb-2"></i>
      <h2 class="text-lg font-semibold">Disciples</h2>
      <p class="text-2xl">438</p>
    </div>
    <div class="bg-white p-4 rounded shadow text-center">
      <i class="fas fa-users-cog text-purple-500 text-3xl mb-2"></i>
      <h2 class="text-lg font-semibold">Dahiras</h2>
      <p class="text-2xl">28</p>
    </div>
    <div class="bg-white p-4 rounded shadow text-center">
      <i class="fas fa-user-tie text-gray-500 text-3xl mb-2"></i>
      <h2 class="text-lg font-semibold">Mouqadam</h2>
      <p class="text-2xl">12</p>
    </div>
    <div class="bg-white p-4 rounded shadow text-center">
      <i class="fas fa-coins text-green-500 text-3xl mb-2"></i>
      <h2 class="text-lg font-semibold">Cotisations</h2>
      <p class="text-2xl">15 000 XOF</p>
    </div>
    <div class="bg-white p-4 rounded shadow text-center">
      <i class="fas fa-briefcase text-yellow-500 text-3xl mb-2"></i>
      <h2 class="text-lg font-semibold">Projets</h2>
      <p class="text-2xl">12</p>
    </div>
  </div>

  <!-- Graphiques -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 h-[400px]">
    <div class="bg-white p-4 rounded shadow">
      <h2 class="text-lg font-semibold mb-2">Cotisations mensuelles</h2>
      <!-- <canvas id="monthlyChart" class="w-full h-64"></canvas> -->
      <div class="w-full ">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
          [colors]="chartOptions.colors" [plotOptions]="chartOptions.plotOptions" [dataLabels]="chartOptions.dataLabels"
          [responsive]="chartOptions.responsive"></apx-chart>
      </div>
    </div>
    <div class="bg-white p-4 rounded shadow">
      <h2 class="text-lg font-semibold mb-2">Avancement des projets</h2>
      <p>En cours de développement...</p>
    </div>
  </div>

  <!-- Répartition géographique -->
  <div class="bg-white p-4 rounded shadow">
    <h2 class="text-lg font-semibold mb-2">Répartition géographique des utilisateurs</h2>
    <p>À intégrer avec Map ou données géographiques</p>
  </div>
</div>